@font-face {
    font-family: lato;
src: url(./Lato/Lato-Light.ttf);
}

body {
    font-family: lato;
    background-color: rgb(116, 119, 91);
    font-size: 14 px;

}

table {
    position: relative;
    margin:auto;
    width: 35%;
    border: 1px solid rgba(255, 255, 255, 0.733);
    background-color: rgb(187, 184, 145);
    border-radius: 5px;
    border-spacing: 0;
    
}

th, td {
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.733);
    width: 33%;
    
}

img {
    width: 13px;
    height: 13px;
    margin: 3px 4px;
    }

.item {
    margin-top: 50px;
}

.search {
    background: rgb(187, 184, 145);
    border: none;
    outline: none;
    width: 100px;
}

.search-place {
    background: rgb(187, 184, 145);
    border: 2px solid black;
    border-radius: 7px;
    width: 120px;
}

.mid-td {
    width: 20%;
}

.right-td {
    text-align: right;
    width: 20%;
}